/* Container center */
.total-eb {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Input Page */
.container {
  width: 350px;
  background: #ffffff;
  padding: 25px;
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

.container h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #1e3a8a;
}

label {
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1.5px solid #cbd5e1;
  border-radius: 8px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

/* OUTPUT CENTER / A4 */


/* Title */
.tneb-title {
  text-align: center;
  color: #1e3a8a;
  font-size: 26px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  color:#fe8d59;
}

.details-section {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.side-info {
  background: #e0f2fe;
  padding: 15px;
  border-left: 5px solid #0284c7;
  margin-bottom: 25px;
  border-radius: 10px;
}

.words {
  font-size: 17px;
  margin-bottom: 20px;
}

.help-line {
  background: #fef3c7;
  padding: 15px;
  border-left: 5px solid #f59e0b;
  border-radius: 10px;
}

.office-address {
  margin-top: 20px;
}

.signature-box {
  text-align: right;
  margin-top: 40px;
}

.sign-line {
  width: 200px;
  height: 2px;
  background: black;
  float: right;
}
