*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}

.total-eb {
  width: 400px;
  background: ;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.container {
  display: flex;
  flex-direction: column;
}

.Eb {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

label {
  font-size: 16px;
  margin: 8px 0 5px 0;
  color: #555;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #0077ff;
  box-shadow: 0 0 5px rgba(0,119,255,0.3);
}

.button {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 20px;
  width: 120px;
  padding: 10px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #005fcc;
}


/* OUTPUT CENTER / A4 */


/* Title */
.tneb-title {
  text-align: center;
  color: #1e3a8a;
  font-size: 26px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  color:#fe8d59;
}

.details-section {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.side-info {
  background: #e0f2fe;
  padding: 15px;
  border-left: 5px solid #0284c7;
  margin-bottom: 25px;
  border-radius: 10px;
}

.words {
  font-size: 17px;
  margin-bottom: 20px;
}

.help-line {
  background: #fef3c7;
  padding: 15px;
  border-left: 5px solid #f59e0b;
  border-radius: 10px;
}

.office-address {
  margin-top: 20px;
}

.signature-box {
  text-align: right;
  margin-top: 40px;
}

.sign-line {
  width: 200px;
  height: 2px;
  background: black;
  float: right;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
